/* Define variables */

:root {
  --dark-bgn: #0a0a0a;
  --text-primary: #fff;
  --sep-s: 30px;
  --sep-m: 45px;
  --sep-l: 60px;
}

.vn-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.vn-xlight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.vn-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.vn-reg {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vn-m {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.vn-sm-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.vn-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.vn-xbold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.vn-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* CSS Reset */

/* Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Remove margin and padding */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove list styles (bullet points) */
ol,
ul {
  list-style: none;
}

/* Remove default font styles */
body {
  line-height: 1;
}

/* Remove hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove borders on images inside links */
img {
  border-style: none;
}

/* Remove outline on focused elements */
:focus {
  outline: 0;
}

::-webkit-scrollbar {
  /* height: 12px; */
  width: 5px;
  background-color: #00000080;
}

/* ::-webkit-scrollbar:hover{
  background-color: #ffffff10;
} */

::-webkit-scrollbar-thumb {
  background: #565656;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

a,
h1,
h2,
h3,
h4,
h5,
span,
label,
p {
  color: var(--text-primary);
}

input {
  all: unset;
  border-bottom: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.txt-s {
  font-size: 0.75rem;
}

.txt-m {
  font-size: 1rem;
}

.txt-l {
  font-size: 1.2rem;
}

.txt-xl {
  font-size: 1.5rem;
}

.txt-xxl{
  font-size: 2rem;
}

.sep-s{
  height: 30px;
}

.sep-m{
  height: 45px;
}

.sep-l{
  height: 60px;
}

p{
  line-height: 1.8;
}

/* Remove extra space between inline-block elements */
/* Useful for removing white space created by line breaks */
/* Example: <div>Item 1</div><div>Item 2</div> */
/* Without this reset, there would be space between Item 1 and Item 2 */
/* With this reset, they'll be flush against each other */
body {
  letter-spacing: 0;
  background-color: var(--dark-bgn);
}

html{
  font-size: 14px;
}
